<div class="w3l_banner_nav_right">
    <div class="w3ls_w3l_banner_nav_right_grid w3ls_w3l_banner_nav_right_grid_sub">
        <div class="w3ls_w3l_banner_nav_right_grid1">
            <h6>cleaning</h6>
            <div class="col-md-3 w3ls_w3l_banner_left">
                <div class="hover14 column">
                    <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
                        <div class="agile_top_brand_left_grid_pos">
                            <img src="assets/images/offer.png" alt=" " class="img-responsive" />
                        </div>
                        <div class="agile_top_brand_left_grid1">
                            <figure>
                                <div class="snipcart-item block">
                                    <div class="snipcart-thumb">
                                        <a routerLink="/single"><img src="assets/images/17.png" alt=" "
                                                class="img-responsive" /></a>
                                        <p>dishwash gel, lemon (1.5 ltr)</p>
                                        <h4>$8.00 <span>$10.00</span></h4>
                                    </div>
                                    <div class="snipcart-details">

                                        <input type="submit" name="submit" value="Add to cart" class="button" />

                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 w3ls_w3l_banner_left">
                <div class="hover14 column">
                    <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
                        <div class="agile_top_brand_left_grid_pos">
                            <img src="assets/images/offer.png" alt=" " class="img-responsive" />
                        </div>
                        <div class="agile_top_brand_left_grid1">
                            <figure>
                                <div class="snipcart-item block">
                                    <div class="snipcart-thumb">
                                        <a routerLink="/single"><img src="assets/images/18.png" alt=" "
                                                class="img-responsive" /></a>
                                        <p>dish wash bar (500 gm)</p>
                                        <h4>$2.00 <span>$4.00</span></h4>
                                    </div>
                                    <div class="snipcart-details">

                                        <input type="submit" name="submit" value="Add to cart" class="button" />

                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 w3ls_w3l_banner_left">
                <div class="hover14 column">
                    <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
                        <div class="agile_top_brand_left_grid_pos">
                            <img src="assets/images/offer.png" alt=" " class="img-responsive" />
                        </div>
                        <div class="agile_top_brand_left_grid1">
                            <figure>
                                <div class="snipcart-item block">
                                    <div class="snipcart-thumb">
                                        <a routerLink="/single"><img src="assets/images/19.png" alt=" "
                                                class="img-responsive" /></a>
                                        <p>air freshener (50 gm)</p>
                                        <h4>$3.00 <span>$5.00</span></h4>
                                    </div>
                                    <div class="snipcart-details">

                                        <input type="submit" name="submit" value="Add to cart" class="button" />

                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 w3ls_w3l_banner_left">
                <div class="hover14 column">
                    <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
                        <div class="agile_top_brand_left_grid_pos">
                            <img src="assets/images/offer.png" alt=" " class="img-responsive" />
                        </div>
                        <div class="agile_top_brand_left_grid1">
                            <figure>
                                <div class="snipcart-item block">
                                    <div class="snipcart-thumb">
                                        <a routerLink="/single"><img src="assets/images/20.png" alt=" "
                                                class="img-responsive" /></a>
                                        <p>toilet cleaner expert (1 ltr)</p>
                                        <h4>$6.00 <span>$7.00</span></h4>
                                    </div>
                                    <div class="snipcart-details">

                                        <input type="submit" name="submit" value="Add to cart" class="button" />

                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>